# Dependențe
node_modules
dist
 
# Variabile de mediu (date sensibile - parole, secrete)
.env
.env.local
.env.*.local
 
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# Editor
.vscode/*
.idea
.DS_Store